#take{
    float: left;
    width: 280px;
    height: 450px;
    margin-top: 30px;
    margin-left: 30px;
    padding-top: 10px;
    background-color: rgb(32, 28, 31);
}

#ovix{
    float: left;
    width: 280px;
    height: 450px;
    margin-top: 30px;
    margin-left: 30px;
    padding-top: 10px;
    background-color: rgb(32, 28, 31);
}

#stand{
    float: left;
    width: 280px;
    height: 450px;
    margin-top: 30px;
    margin-left: 30px;
    padding-top: 10px;
    background-color: rgb(102, 102, 102);
}

#eclipse{
    float: left;
    width: 280px;
    height: 450px;
    margin-top: 30px;
    margin-left: 30px;
    padding-top: 10px;
    background-color: rgb(32, 28, 31);
}

#resonance{
    float: left;
    width: 280px;
    height: 450px;
    margin-top: 30px;
    margin-left: 30px;
    padding-top: 10px;
    background-color: rgb(32, 28, 31);
}

#fragment{
    float: left;
    width: 280px;
    height: 450px;
    margin-top: 30px;
    margin-left: 30px;
    padding-top: 10px;
    background-color: rgb(32, 28, 31);
}