#encabezadotext{
    font-size: 75px;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    color: rgb(255, 255, 255);
    position: absolute;
}

#nametienda{
    font-family: sans-serif;
    color: white;
}

h3{
    font-family: sans-serif;
    color: white;
}

h4{
    padding-left: 10px;
    font-family: arial;
    color: rgb(190, 190, 190);
}

h5{
    color: white;
    font-family: arial;
}

#infobuy{
    font-family: sans-serif;
    font-size: 40px;
    position: absolute;
    color: rgb(255, 81, 0);
    left: 45%;
    top: 20%;
}

#infobuydescription{
    font-family: sans-serif;
    font-size: 20px;
    position: absolute;
    color: rgb(187, 187, 187);
    left: 45%;
    top: 35%;
}

#infobuydescriptionESP{
    font-family: sans-serif;
    font-size: 20px;
    position: absolute;
    color: rgb(187, 187, 187);
    left: 45%;
    top: 52%;
}

#precioinfobuy{

    font-size: 15px;
    position: absolute;
    color: rgb(146, 146, 146);
    left: 45%;
    top: 70%;
}

#menudescripcion{
    color: rgb(255, 51, 0);
    font-family: sans-serif;
}
#menudescripciontext{
    font-size: 20px;
}

